/* header start */
#header {
  background-color: #00adb5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #222831;
}
.navbar .right-side {
  display: flex;
}
.navbar .right-side a {
  background-color: #00adb5;
  color: #eeeeee;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #00adb5;
}
.navbar .right-side a:hover {
  border: 2px solid rgba(57, 62, 70, 0.3);
  cursor: pointer;
}
.navbar .left-side {
  padding: 20px 10px 20px 10px;
  font-size: 24px;
  font-weight: bold;
  color: #eeeeee;
}
/* footer start */
#footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #00adb5;
}
#footer .top,
#footer .bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto 0px auto;
}
#footer .top .left-side,
#footer .bottom {
  font-size: 18px;
  color: #eeeeee;
  padding: 23px 10px 0px 10px;
}
#footer .bottom {
  font-size: 18px;
  color: #eeeeee;
  padding: 0px 10px 20px 10px;
}
#footer .top .right-side {
  padding: 20px 10px 20px 10px;
  font-size: 24px;
  font-weight: bold;
  color: #eeeeee;
}
#footer .bottom {
  margin-left: auto;
  margin-right: auto;
}
/* footer end */
